.project-width{
  width: 360px;
}

@media (min-width: 640px) and (max-width: 770px) {
    .sm\:flex {
      flex-wrap: wrap;
    }
    .max-w-sm {
      width: 100%;
    }
  }

  @media (min-width: 770px) and (max-width: 1110px) {
    .sm\:flex {
      flex-wrap: wrap;
    }
    .max-w-sm {
      width: 100%;
    }
  }
